.edit {
  margin-top: 4rem;

  &__title {
    width: 100%;
  }

  &__form {
    display: flex;
    margin-top: 2rem;

    textarea {
      width: 100%;
      height: 100vh;
    }

    &__preview {
      width: 100%;
    }
  }
}
