.home {
  margin-top: 2rem;

  &--content {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 3rem;
    justify-content: center;

    &--item {
      width: 30%;
      min-width: 360px;
    }
  }
}
