.home {
  width: 90%;
  margin: auto;
  margin-top: 2rem;

  &-content {
    width: 90%;
    margin: auto;

    &-skeleton-wrapper {
      display: flex;
      flex-wrap: wrap;
      row-gap: 4rem;
      justify-content: space-between;

      &-item {
        width: 300px;
      }
    }
  }
}
