@import url('~nes.css/css/nes.css');

@font-face {
  font-family: NuMoChi;
  src: url('./font/NuKinakoMochi-BarHrE-1.otf');
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: NuMoChi, 'Press Start 2P';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 50px);
  padding-top: 50px;
  margin: auto;
}

input {
  ::placeholder {
    color: rgb(255 255 255 / 70%);
  }

  &:focus {
    outline: 0 transparent solid;

    ::placeholder {
      color: rgb(0 0 0 / 70%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
